
location=(southcentralus)

subscription=(MPI GPU 1)

benchmark=(brams)

cores=(64)

vmsize=(Standard_D64_v3)

instances=(4)

adminpassword=(Senha123)

passmount=(3Ap6mjpcOEYEeUD+bb0CTCr273/tQWnxiROuHYCK1buc/0sBuW3UHwc3KoKGkwDiswQ8eQrQiVGl8ZxxvAAKuQ==)

diskurl=(//scarif.file.core.windows.net/)

diskusername=(scarif)

template=(azuredeploy_w_image.json)
