
location=(southcentralus)

subscription=(MPI GPU 1)

benchmark=(brams)

cores=(4,8)

instances=(4,8,16,32)

adminpassword=(Senha123)

passmount=(3Ap6mjpcOEYEeUD+bb0CTCr273/tQWnxiROuHYCK1buc/0sBuW3UHwc3KoKGkwDiswQ8eQrQiVGl8ZxxvAAKuQ==)

diskurl=(//scarif.file.core.windows.net/)

diskusername=(scarif)

template=(azuredeploy_w_image.json)

image=(/subscriptions/845870fa-9220-4a9a-83b2-89121da7a33a/resourceGroups/image-1/providers/Microsoft.Compute/images/imageBrams)

mode=(sequencial)
