subscription=(MPI GPU 1)
location=(eastus)

benchmark=(fwi)

cores=(1)
vmsize=(Standard_F8)
instances=(2)

adminusername=(username)
adminpassword=(Senha123)

passmount=(3Ap6mjpcOEYEeUD+bb0CTCr273/tQWnxiROuHYCK1buc/0sBuW3UHwc3KoKGkwDiswQ8eQrQiVGl8ZxxvAAKuQ==)
diskurl=(//scarif.file.core.windows.net/)
diskusername=(scarif)

template=(templates/azuredeploy_multiple_image_v2.json)
image=(/subscriptions/de480004-2ade-43c6-a6b1-c7b4f584ebd3/resourceGroups/galactic-empire/providers/Microsoft.Compute/images/imageFWI)

// parallel or sequencial
mode=(sequencial)

// multiple or single
role=(single)
